.header{
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  align-items: center;
  padding: 0px 10px;
}
.nav-items>ul{
  text-decoration: none;
  list-style-type: none;
  display: flex;

}
.nav-items>ul>a>li{
  margin: 10px;
  cursor: pointer;
}
.logo{
  display: flex;
  margin: 10px;
}
.logo>img{
  width:80px;
  height:80px;
  border-radius: 5px;
}
.App{
  margin: 10px;
}
.cardsWrapper{
  height: 400px;
  width: 400px;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
}
.cardsWrap{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  
}
.cardsWrapper:hover{
  transform: scale(1.04);
  cursor: pointer;
}
.img{
  /* max-width: 90%; */
  width: 100%;
  max-height: 50%;
}